<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{shared/layouts/layoutUser}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trang chủ</title>
</head>

<body>
  <section layout:fragment="content" class="text-center">
    <!-- Banner -->
    <section class="w-screen overflow-hidden">
      <img th:src="@{/images/banner2.png}" alt="VPS Fashion Logo" class="w-full h-auto sm:w-full h-auto">
      <p class="text-center sm:text-sm md:text-xl lg:text-2xl mt-2 italic">
        VPS_Fashion - Khoác Lên Mình Niềm Vui Gia Đình Việt
      </p>
    </section>
  <section class="grid grid-cols-12 grid-rows-[repeat(20,minmax(0,1fr))] gap-4 w-full h-[1400px] px-4 relative">


      <!-- Nút hỗ trợ: top right -->
      <div class="col-start-9 col-end-10 row-start-1 row-end-4 flex justify-end">
        <img src="/images/sup.png" alt="Hỗ trợ" class="w-full h-full object-contain">
      </div>

      <!-- Logo -->
      <div class="col-start-1 col-end-3 row-start-2 row-end-6 flex justify-center md:justify-start items-center">
         <img src="/images/logo1.png" alt="Logo" class="w-full h-full object-contain">
      </div>

      <!-- Nội dung văn bản -->
      <div class="col-start-4 col-end-10 row-start-3 row-end-7 flex items-center">
        <p class="sm:text-sm md:text-xl lg:text-2xl leading-relaxed text-left">
          <strong>VPS_Fashion</strong> 2 năm - Khoác lên niềm vui gia đình Việt. Năm 2021, Công ty Cổ phần Thương mại và
          Dịch vụ Hoàng Dương được thành lập với mục đích chính ban đầu là hoạt động trong lĩnh vực sản xuất hàng thời
          trang xuất khẩu với các sản phẩm chủ yếu làm từ len và sợi. Năm 2022 thương hiệu thời trang VPS-Fashion ra
          đời, tự hào trở thành một cột mốc đáng nhớ của doanh nghiệp Việt trong ngành thời trang.
        </p>
      </div>

      <!-- Hình gia đình -->
      <div class="col-start-7 col-end-11 row-start-6 row-end-11 flex justify-center items-center">
        <img src="/images/family.png" alt="Gia đình mặc áo đỏ"  class="w-full h-full object-contain">
      </div>

      <!-- Mô tả dưới -->
      <div class="col-start-2 col-end-7 row-start-11 row-end-18">
        <p class="sm:text-sm md:2text-xl lg:text-3xl leading-relaxed text-left">
          <strong>VPS-Fashion</strong> hướng đến mục tiêu mang lại niềm vui mặc mới mỗi ngày cho hàng triệu người tiêu
          dùng Việt. Chúng tôi tin rằng người dân Việt Nam cũng đang hướng đến một cuộc sống năng động, tích cực hơn.
        </p>
      </div>

      <!-- Nút xem thêm: căn dưới giữa -->
    <div class="col-start-4 col-end-10 row-start-19 row-end-[20] flex justify-center items-end">
      <button class="px-6 w-full py-2 border border-gray-400 rounded hover:bg-gray-100 text-base font-semibold">
        XEM THÊM
      </button>
    </div>
    </section>
  </section>
</body>

</html>